.body {
  height: 100%;
}

.navBar {
  width: 20%;
  height: 100%;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

ul {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

li {
  text-align: center;
  font-size: 24px;
  width: 70%;
  height: 70px;
  background-color: #bd93f9;
  border-radius: 10px;
}
